html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: '맑은 고딕', sans-serif;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* ===== 폼 ===== */
.form-container {
  width: 420px;
  height: 500px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-footer {
  margin-top: auto;
}


h2 {
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 12px;
  background: #f8f8f8;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.tab.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
}

.method-section {
  margin-bottom: 20px;
  text-align: left;
}

.method-section label {
  margin-right: 20px;
  font-size: 14px;
}

.input-group {
  margin-bottom: 12px;
}

.user-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.id-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.number-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.email-input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.user-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.tab:hover {
  background-color: #0056b3;
}

/* ===== 푸터 ===== */
footer {
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  font-size: 13px;
  color: #555;
  padding: 30px 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-top .links-left a,
.footer-top .links-right a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.6;
}

.footer-main .left,
.footer-main .center,
.footer-main .right {
  flex: 1;
  min-width: 250px;
}

.footer-main .left strong {
  font-size: 18px;
  color: #000;
}

.footer-main .left span {
  display: block;
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}
